@model IEnumerable<Project>
@{
    ViewData["Title"] = "Project Page";
}


<section id="project" class="project">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Project</h2>
            <h3>Check our <span>Projects</span></h3>
            <p>The following are list of my projects work </p>
        </div>

        <br /> <br />
        <div class="container row mx-5">
            @*<h2 class="display-4 fw-normal">Projects</h2>*@
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/portfolio/projectLogo.jpg" width="100%" height="225" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"> <input type="hidden" asp-for="@item.Id"/></p>
                                <h5 class="card-title">Project Name</h5>
                                <p class="card-text">@item.Name</p>
                                <h5 class="card-title">Description</h5>
                                <p class="card-text">@item.Description</p>
                                <p>
                                    <a style="color: #ffffff; background-color: blue"class="btn mx-5" href=@item.ProjectLink>  Click 
                                        Me
                                    </a> </p>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
</section>






@*<section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Projects</h2>
          <h3>Check our <span>Projects</span></h3>
          <p>The following are list of my projects work </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            @foreach(var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src=@item.ImageUrl   class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <a href=@item.ImageUrl data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href=@item.ProjectLink class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            }

      </div>
    </section><!-- End Portfolio Section -->*@


                       