
@{
    ViewData["title"] = "NotFound page";
}

<div class="text-center">
    <h1 class="display-5">
        404 Notfound
    </h1>
    <p><a asp-action="Index " asp-controller="Home">Go Back to Home Page</a></p>

</div>
